.navbar-body{
    background-color: var(--background-c) ;
}

.navbar-main {
    /* background-color: var(--background-c); */
    border-bottom: 1px solid var(--darker-c);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-title:hover {
    color: var(--darker-c);
  }
  .navbar-body {
    color: var(--darker-c);
  }

  .navbar-text{
    margin-left: 2px;
    color: var(--darker-c);
    font-size: 1.25rem;
  }
  .navbar-text:hover{
  color: var(--background-c);
  background-color: var(--darker-c);
  border-radius: 10px;
  transition: ease 1s;
  }